# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.js

# testing
/coverage

# production
/build

# misc
.DS_Store
.env.local
.env.development.local
.env.test.local
.env.production.local

npm-debug.log*
yarn-debug.log*
yarn-error.log*

/blob_storage
/Cache
/CachedData
/CachedExtensions
/Code Cache
/Dictionaries
/GPUCache
/logs
/User
/webrtc_event_logs


Cookies
Cookies-journal
languagepacks.json
machineid
Network Persistent State
rapid_render.json
storage.json
TransportSecurity